ul {
    background-color: #b6b5b6;
    list-style: none;
    padding: 0px;
    width: 250px;
    margin: 0 auto;
    border: 1px solid #606060;
}

li {
border-bottom: 1px solid #606060;
padding: 5px;
}

li:last-child {
    border-bottom: none;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

 a:hover{
    text-decoration: underline;
    font-family: Arial;
}