ul li:first-child::marker {
    content: '\2660';
}

ul li:nth-child(2)::marker {
    content: '\2663';
}

ul li:nth-child(3)::marker {
    content: '\2665';
    color: red;
}

ul li:last-child::marker {
    content: '\2666';
    color: red;
}

ul li {
    padding: 10px;
}